<div style="    padding: 40px;">
    <h2 id="page-heading">
        <span>Cart Product Invs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cart-product-inv" [routerLink]="['/cart-product-inv/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Cart Product Inv
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cartProductInvs?.length === 0">
        <span>No cartProductInvs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cartProductInvs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Quantity</span></th>
                    <th scope="col" ><span>Product</span></th>
                    <th scope="col" ><span>Shopping Cart</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartProductInv of cartProductInvs ;trackBy: trackId">
                    <td><a [routerLink]="['/cart-product-inv', cartProductInv.id, 'view']">{{ cartProductInv.id }}</a></td>
                    <td>{{ cartProductInv.quantity }}</td>
                    <td>
                        <div *ngIf="cartProductInv.product">
                            <a [routerLink]="['/product', cartProductInv.product?.id, 'view']" >{{ cartProductInv.product?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="cartProductInv.shoppingCart">
                            <a [routerLink]="['/shopping-cart', cartProductInv.shoppingCart?.id, 'view']" >{{ cartProductInv.shoppingCart?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cart-product-inv', cartProductInv.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cart-product-inv', cartProductInv.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cartProductInv)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
