<ng-template #template>
    <div class="ant-notification-notice-content">
        <div class="ant-notification-notice-with-icon">
            <span class="ant-notification-notice-icon"><i class="fa fa-check" style="color: #00ff2a;"></i></span>
            <div class="ant-notification-notice-message">Success</div>
            <div class="ant-notification-notice-description">
                Payment successfully completed.
            </div>
        </div>
    </div>
</ng-template>
<ng-template #template2>
    <div class="ant-notification-notice-content">
        <div class="ant-notification-notice-with-icon">
            <span class="ant-notification-notice-icon"><i class="fa fa-check" style="color: #00ff2a;"></i></span>
            <div class="ant-notification-notice-message">Success</div>
            <div class="ant-notification-notice-description">
                Payment already done.
            </div>
        </div>
    </div>
</ng-template>
<div class="container justify-content-center mb-5" style="height: auto;">
    <div class="row">
        <div class="col-md-12" style="    margin-top: 70px;">
            <h1 class="text-center cart-heading" style="">Payment</h1>
            <p  class="text-center s-text">You are eligible for free shipping</p>
            <span class="hl" style="">

        </div>
    </div>
    <div   class="row" >

        <div class="col-lg-6 mt-3">

            <div class="col-lg-12" style="font-size: 24px; font-weight: 600; margin-bottom: 10px; padding-left: 0px;">Payment Method</div>
            <div class="card">

                    <div class="accordion" id="accordionExample">

                        <div class="card">
                            <div class="card-header p-0">
                                <h2 class="mb-0">
                                    <button class="btn btn-light btn-block text-left p-3 rounded-0"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        <div class="d-flex align-items-center justify-content-between">

                                            <span>Credit card</span>
                                            <div class="icons">
                                                <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                                <img src="https://i.imgur.com/W1vtnOV.png" width="30">
                                                <img src="https://i.imgur.com/35tC99g.png" width="30">
                                                <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                            </div>

                                        </div>
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body payment-card-body">

                                    <span class="font-weight-normal card-text">Card Number</span>
                                    <div class="input">

                                        <i class="fa fa-credit-card"></i>
                                        <input type="text" class="form-control" placeholder="0000 0000 0000 0000" #cardNumberInput>

                                    </div>

                                    <div class="row mt-3 mb-3">

                                        <div class="col-md-6">

                                            <span class="font-weight-normal card-text">Expiry Date</span>
                                            <div class="input">

                                                <i class="fa fa-calendar"></i>
                                                <input type="text" class="form-control" placeholder="MM/YY">

                                            </div>

                                        </div>


                                        <div class="col-md-6">

                                            <span class="font-weight-normal card-text">CVC/CVV</span>
                                            <div class="input">

                                                <i class="fa fa-lock"></i>
                                                <input type="text" class="form-control" placeholder="000">

                                            </div>

                                        </div>


                                    </div>

                                    <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your
                                        transaction is
                                        secured with ssl certificate</span>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

        </div>

        <div class="col-lg-6 mt-3">
            <div class="col-lg-12" style="font-size: 24px; font-weight: 600; margin-bottom: 10px; padding-left: 0px;">Summary</div>

            <div class="card">

                    <div class="d-flex justify-content-between p-3">

                        <div class="d-flex flex-column mt-1">

                            <span style="font-size: 24px;
                            font-weight: 600;">Total</span>
                            <!-- <a href="#" class="billing">Save 20% with annual billing</a> -->

                        </div>

                        <div class="mt-1">
                            <span class="super-price" style="font-size: 24px;
                            font-weight: 600;">{{totalamount}}</span>
                            <!-- <span class="super-month">/Month</span> -->
                        </div>

                    </div>

                    <hr class="mt-0 line">

                    <!-- <div class="p-3">

                        <div class="d-flex justify-content-between mb-2">

                            <span>Refferal Bonouses</span>
                            <span>-$2.00</span>

                        </div>

                        <div class="d-flex justify-content-between">

                            <span>Vat <i class="fa fa-clock-o"></i></span>
                            <span>-20%</span>

                        </div>


                    </div>

                    <hr class="mt-0 line"> -->


                    <div class="p-3 d-flex justify-content-between" style="margin-top: 2rem !important;">

                        <div class="d-flex flex-column">

                            <span class="badge badge-dark brand-badge">Thanks for Shopping with us</span>
                            <!-- <small>After 30 days $9.59</small> -->

                        </div>
                        <!-- <span>$0</span> -->



                    </div>


                    <div class="p-3">
                        <!-- <div *ngIf="errorResponse" class="error-message">
                            <h4>Error:</h4>
                            <p>{{ errorResponse?.message }}</p>
                            <p>Status: {{ errorResponse?.status }}</p>
                            <p>Status Text: {{ errorResponse?.statusText }}</p>
                            <p>Error Details: {{ errorResponse?.error }}</p>
                          </div> -->
                          <div class="alert" [class.alert-danger]="errormsg.length > 0">
                            <strong>{{errormsg}}</strong>
                        </div>
                        <button (click)="removePurchaseOrder()" class="checkout-btn cancel-btn" style="    margin-top: 35px;width: 100px;">Cancel</button>

                        <button (click)="makePayment(template,template2,cardNumberInput.value)" class="checkout-btn" style="    margin-top: 35px;">Pay Now</button>
                        <!-- <div class="text-center">
                            <a href="#">Have a promo code?</a>
                        </div> -->

                    </div>




                </div>
        </div>

    </div>
    <div   class="row">
        <div class="col-lg-12 " style="margin: auto;">
            {{paymentChecked}}
        </div>
    </div>


</div>